@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Medium.ttf');
}
h1{
    color: green;
    font-size: 38px;
    font-family: 'ubuntu';
}
label{
    font-family: 'ubuntu';
    font-size: 25px;
}
input{
    font-size: 27px;
    height: 43px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid grey;
}
input:focus{
    outline: 0;
    border: 2px solid green;
    border-radius: 8px;
    transform: scale(1.1);
}
input[type="submit"]{
    width: 110px;
    background-color: blue;
    color: white;
    cursor: pointer;
    border: none;
}
input[type="submit"]:hover{
    background-color: green;
    border-radius: 0;
    transform: scale(1.1);
}
input[type="reset"]{
    width: 110px;
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
}
input[type="reset"]:hover{
    background-color: cadetblue;
    border-radius: 0;
    transform: scale(1.1);
}
input[type="radio"]{
    width: 40px;
    height: 28px;
}
input[type="radio"]:hover{
    transform: scale(1.4);
    cursor: pointer;
}
input[type="checkbox"]{
    width: 50px;
    height: 28px;
}
input[type="checkbox"]:hover{
    transform: scale(1.4);
    cursor: pointer;
    border: 2px solid red;
}